{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row valign-wrapper">
<span class="col s1 valign">
  <img id="arrow-left" style="height:70vh;opacity:0.5;" class="responsive-img" src="{% static 'img/arrow_left.svg' %}">
</span>
<div class="col s10 valign">
<div id ="mySlider" >
  <!-- begin slider -->
  <div class="slider">
     <ul class="slides">
       <li>
         <img src="{% static 'img/Foto12.jpg' %}">
         <div class="caption center-align">
           <h4 id="foto-chachani" style="text-transform:uppercase;" class ="gray-text">Chachani no es solo un hermoso volcán...</h4>
         </div>
       </li>
       <li>
         <img src="{% static 'img/foto1.jpg' %}">
         <div class="caption right-align">
           <h3 style="text-transform:uppercase">Chachani también significa establos lideres en productividad......</h3>
         </div>
       </li>
       <li>
         <img src="{% static 'img/Foto16.jpg' %}">
         <div class="caption left-align">
           <h4 id="texto-cerdos" class="brown-text darken-4-text" style="text-transform:uppercase;"><b>.. y cerdos de gran calidad ...</b></h4>
         </div>
       </li>

       <li class="center">
         <img id="img-inicial-innova" src="{% static 'img/foto4.png' %}">
         <div class="caption left-align">
           <h4 id="texto-productos-innova" class="black-text"style="text-transform:uppercase;">.. Chachani también es productos
              innovadores ...</h4>
         </div>
       </li>
       <li>
         <img src="{% static 'img/foto5.png' %}">
         <div class="caption left-align">
           <h4 class="black-text" style="text-transform:uppercase">.. también invención,
             creatividad ...</h4>
         </div>
       </li>
       <li>
         <img src="{% static 'img/foto6.png' %}">
         <div class="caption right-align">
           <h4 style="text-transform:uppercase;margin-top:7em;"><b>... libros exclusivos... revistas... y muchas otras novedades más. </b></h4>
         </div>
       </li>
     </ul>
    </div>
   </div>
   <!-- end slider -->
 </div>
 <span class="col s1 valign">
   <img id="arrow-right" style="height:70vh;opacity:0.5;" class="responsive-img" src="{% static 'img/arrow_right.svg' %}">
 </span>
 </div>
 {% endblock content %}
