{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
<div id ="mySlider" class="row">

<div class="slider">
   <ul class="slides">
     <li>
       <img src="{% static 'img/Foto12.jpg' %}">
       <div class="caption center-align">
         <h3 style="margin-top:4.5rem;" class ="gray-text">Acompañanos al maravilloso mundo de Chachani</h3>
       </div>
     </li>
     <li>
       <img src="{% static 'img/Foto16.jpg' %}">
       <div class="caption left-align">
         <h3>Left Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="{% static 'img/foto1.jpg' %}">
       <div class="caption right-align">
         <h3>Right Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="http://lorempixel.com/580/250/nature/4">
       <div class="caption center-align">
         <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
   </ul>
 </div>
 </div>
 {% endblock content %}
