{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div style="overflow:overlay;"class="wrapper">
<div class ="row">
<h3 style="margin-left: 0.5em; margin-top:1em;" class="header left">Conócenos</h3>
</div>
<div class=" col s12 m7 row container">
  <div>
  <div class="card horizontal">
    <div class="card-image waves-effect waves-block waves-light">
      <img src=" {% static 'img/logo_hoja.png' %}">
    </div>
      <div class="card-content ">
        <p>Chachani Corp es una empresa liderada por el Grupo Gloria.
          Actualmente, labora en cuatro sedes localizadas en Arequipa, Lima,
          Trujillo y Tarapoto. Sus actividades se inician en enero del año
          2015, asumiento la administración de los representativos establos:
          Vitor de Arequipa(600 vacas), Casagrande (3500 vacas) y
          agrolac (500 vacas).
        </p>
      </div>
  </div>
</div>
</div>
<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a style="font-size:1.2em;" href="#0" data-date="16/01/2014" class="selected">2015</a></li>
					<li><a style="font-size:1.2em;" href="#0" data-date="20/04/2014">2016</a></li>
					<li><a style="font-size:1.2em;" href="#0" data-date="20/05/2014">2017</a></li>
				</ol>
				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content" >
		<ol>
			<li class="selected" data-date="16/01/2014">
				<h4>El liderazgo de Chachani</h4>
				<em style="font-size:1.2em;" >2015</em>
        <p style="font-size:1.2em;">En este año Chachani alcanza el liderazgo en la productividad
          de sus vacas lecheras con promedios nunca antes vistos
          en estos establos.
        </p>
        <br>
        <p style="font-size:1.2em;">
          En el establo Casagrande de Trujillo alcanzan promedios de produccion
          de 38 kg de leche, con 1400 vacas en estado de producción.
        </p>
        <br>
        <p style="font-size:1.2em;">
          En el establo Vitor de Arequipa con 300 vacas en estado de producción
          alcanzan los 41.8 kg de leche por día.
        </p>
			</li>
			<li data-date="20/04/2014">
				<h4>Nuevos emprendimientos</h4>
				<em style="font-size:1.2em;">2016</em>
				<p style="font-size:1.2em;">
          La alta productividad continua en estos establos, y Chachani
          inicia actividades paralelas:

        crianza de cerdos, producción y comercialización en Trujillo;
        fabricación de Compost en Arequipa; y
        la crianza de ganado de carne en Trujillo y Tarapoto.</p>
			</li>

			<li data-date="20/05/2014">
				<h4>Metas y proyecciones para el 2017</h4>
        <br>
        <p style="font-size:1.2em;">
          Se iniciaran otras actividades como la crianza de Tilapias en Tarapoto,
          la producción y comercialización de alimento balanceado para ganado en Arequipa
          y Trujillo, y la comercialización de premezcla en todo el Perú.
				</p><br>
        <p style="font-size:1.2em;">Buscamos en todo momento innovar para desarrollar en nuevos campos
          utilizando los subproductos que ya producen nuestras propias
          empresas aprovechando además nuestra infraestructura.</p>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>
</div>
{% endblock content %}
