{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div style="overflow:overlay;"class="wrapper">
<div class ="row">
<h2 style="margin-left: 0.5em; margin-top:1em;" class="header left">Conócenos</h2>
</div>
<div class=" col s12 m7 row container">
  <div>
  <div class="card horizontal">
    <div class="card-image waves-effect waves-block waves-light">
      <img src=" {% static 'img/logo_hoja.png' %}">
    </div>
      <div class="card-content ">
        <p>Chachani Corp es una empresa liderada por el Grupo Gloria.
          Actualmente, labora en cuatro sedes localizadas en Arequipa, Lima,
          Trujillo y Tarapoto. Sus actividades se inician en enero del año
          2015, asumiento la administración de los representativos establos:
          Vitor de Arequipa(600 vacas), Casagrande (3500 vacas) y
          agrolac (500 vacas).
        </p>
      </div>
  </div>
</div>
</div>
<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a href="#0" data-date="16/01/2014" class="selected">2015</a></li>
					<li><a href="#0" data-date="20/04/2014">2016</a></li>
					<li><a href="#0" data-date="20/05/2014">2017</a></li>
				</ol>
				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content" >
		<ol>
			<li class="selected" data-date="16/01/2014">
				<h2>El liderazgo de Chachani</h2>
				<em>2015</em>
        <p>En este año Chachani alcanza el liderazgo en la productividad
          de sus vacas lecheras con promedios nunca antes vistos
          en estos establos.
        </p>
        <br>
        <p>
          En el establo Casagrande de Trujillo alcanzan promedios de produccion
          de 38 kg de leche, con 1400 vacas en estado de producción.
        </p>
        <br>
        <p>
          En el establo Vitor de Arequipa con 300 vacas en estado de producción
          alcanzan los 41.8 kg de leche por día.
        </p>
			</li>
			<li data-date="20/04/2014">
				<h2>Nuevos emprendimientos</h2>
				<em>2016</em>
				<p>
          La alta productividad continua en estos establos, y Chachani
          inicia actividades paralelas:

        crianza de cerdos, producción y comercialización en Trujillo;
        fabricación de Compost en Arequipa; y
        la crianza de ganado de carne en Trujillo y Tarapoto.</p>
			</li>

			<li data-date="20/05/2014">
				<h2>Metas y proyecciones para el 2017</h2>
        <br>
        <p>
          Se iniciaran otras actividades como la crianza de Tilapias en Tarapoto,
          la producción y comercialización de alimento balanceado para ganado en Arequipa
          y Trujillo, y la comercialización de premezcla en todo el Perú.
				</p><br>
        <p>Buscamos en todo momento innovar para desarrollar en nuevos campos
          utilizando los subproductos que ya producen nuestras propias
          empresas aprovechando además nuestra infraestructura.</p>
			</li>

			<li data-date="09/07/2014">
				<h2>Event title here</h2>
				<em>July 9th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="30/08/2014">
				<h2>Event title here</h2>
				<em>August 30th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="15/09/2014">
				<h2>Event title here</h2>
				<em>September 15th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="01/11/2014">
				<h2>Event title here</h2>
				<em>November 1st, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="10/12/2014">
				<h2>Event title here</h2>
				<em>December 10th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="19/01/2015">
				<h2>Event title here</h2>
				<em>January 19th, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="03/03/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>
</div>
{% endblock content %}
