{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div style="overflow:overlay;"class="wrapper">
<div class ="row">
<h3 style="margin-left: 0.5em; margin-top:1em;" class="header left">Conócenos</h3>
</div>
<div class=" col s12 m7 row container">
  <div>
  <div class="card horizontal">
    <div class="card-image waves-effect waves-block waves-light">
      <img src=" {% static 'img/logo_hoja.png' %}">
    </div>
      <div class="card-content ">
        <p>Chachani Corp es una empresa liderada por el Grupo Gloria.
          Actualmente, labora en tres sedes localizadas en: Arequipa,Trujillo y Tarapoto.
          Sus actividades se inician en enero del año
          2015, asumiento la administración de los representativos establos:
          Vitor de Arequipa (600 vacas), Casagrande (3,500 vacas) y
          agrolac (500 vacas).
        </p>
      </div>
  </div>
</div>
</div>
<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a style="font-size:1.2em;" href="#0" data-date="16/01/2014" class="selected">2015</a></li>
					<li><a style="font-size:1.2em;" href="#0" data-date="20/04/2014">2016</a></li>
					<li><a style="font-size:1.2em;" href="#0" data-date="20/05/2014">2017</a></li>
				</ol>
				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
    <p style=" margin-top: -3em; margin-left: 4.5em; font-size: smaller;"> <b>Haz click en los diferentes años</b></p>
	</div> <!-- .timeline -->

	<div class="events-content" >
		<ol>
			<li style="margin-top:3em" class="selected" data-date="16/01/2014">
				<h4>Inicio de actividades de Chachani</h4>
				<em style="font-size:1.2em;" >2015</em>
        <p style="font-size:1.2em;">En este primer año de operaciones, nuestra empresa Chachani SAC, logró alcanzar el liderazgo productivo
          en lo referente a los promedios de producción de leche por vaca por día.
        </p>
        <p style="font-size:1.2em;"> Bajo la dirección de Chachani los establos salieron
        records de productividad lechera:</p><br>
        <p style="font-size:1.2em;" ><i class="tiny material-icons">done_all</i>
          El Establo Vitor de Arequipa, con sus 300 vacas en producción, alcanzó promedios de hasta 41.8 kilos de leche por día
        </p>
        <p style="font-size:1.2em;" ><i class="tiny material-icons">done_all</i>
          Las vacas de Establo Casagrande, por su parte, con 1,500 vacas en producción alcanzaron 38 kilos de leche por día.
        </p><br>
        <p style="font-size:1.2em;">
          Alcanzando asi, con estos índices alcanzados, el liderazgo productivo del país.
        </p>
        <p style="margin-top:3em;" class="center">
          <img style="max-height:30vh;" class="responsive-img" src="{% static 'img/logo2.png'%}">
        </p>
			</li>
			<li style="margin-top:3em" data-date="20/04/2014">
				<h4>Inicio de nuevas actividades</h4>
				<em style="font-size:1.2em;">2016</em>
				<p style="font-size:1.2em;">
          En el año 2016, Chachani decidió ampliar su campo de acción y añadió a su actividad original
          de dirección de sus establos, las siguientes actividades:
        </p><br>
        <p style="font-size:1.2em;" ><i class="tiny material-icons">done_all</i>
          Crianza de cerdos seleccionados en Trujillo.
        </p>
        <p style="font-size:1.2em;" ><i class="tiny material-icons">done_all</i>
          Producción de fertilizante orgánico Compost (kompus Vac) en Arequipa.
        </p>
        <p style="font-size:1.2em;" ><i class="tiny material-icons">done_all</i>
          Desarrollo y producción de forrajes para ganado (Bagamel), en Trujillo.
        </p>
        <p style="font-size:1.2em;" ><i class="tiny material-icons">done_all</i>
          Desarrollo y comercialización de premezclas para ganado lechero (Vita Plus) en Arequipa y Trujillo.
        </p>
        <p style="font-size:1.2em;" ><i class="tiny material-icons">done_all</i>
          Crianza de ganado de carne en Trujillo y Tarapoto.
        </p>
        <p style="margin-top:3em;" class="center">
          <img style="max-height: 75vh;" class="responsive-img" src="{% static 'img/COMPOSICION2016.png'%}">
        </p>
      </li>

			<li data-date="20/05/2014">
				<h4>Nuevas actividades proyectadas</h4>
        <em style="font-size:1.2em;">2017</em>
        <br>
        <p style="font-size:1.2em;">
          Para Chachani el año 2017 será un periodo caracterizado de nuevas y variadas actividades:
				</p><br>
        <p style="font-size:1.2em;" ><i class="tiny material-icons">done_all</i>
          La concretización del criadero de Tilapias en Tarapoto.
        </p>
        <p style="font-size:1.2em;" ><i class="tiny material-icons">done_all</i>
          La producción y comercialización de alimento balanceado para ganado lechero
        </p>
        <p style="font-size:1.2em;" ><i class="tiny material-icons">done_all</i>
          La habilitación y lotización de terrenos del fundo Agrolac de Tarapoto.
        </p><br>
        <p style="font-size:1.2em;">
          Y otras muchas actividades que se resumen en el plano abajo mostrado y que muestran el
          notable desarrollo que logra Chachani en su corto periodo de existencia.
        </p><br>
        <p style="margin-top:3em;" class="center">
          <img class="responsive-img" style="max-height: 100vh; width: auto;" src="{% static 'img/mapaChachani.png' %}">
        <p>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>
</div>
{% endblock content %}
