{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div style="margin-top:3em;" class="row center">
  <div class="col s1 right">
    <img style="max-height:7vh;"class="responsive-img" src="{% static 'img/logo_hoja.png' %}">
  </div>
  <div class="col s12 m5 l5 center">
    <img style="-moz-box-shadow: 10px 20px 30px rgba(0,0,0,.5);-webkit-box-shadow: 10px 20px 30px rgba(0,0,0,.5);box-shadow: 10px 20px 30px rgba(0,0,0,.5);" class="responsive-img" src="{% static 'img/img_campos/establos/VACA.png' %}">
  </div>
  <div style="margin-top:25vh;" class="col s12 m4 l4 center container push-m1 push-l1">
    <h5><b>ESTABLOS LÍDERES EN  PRODUCTIVIDAD LECHERA</b><h5>
  </div>
</div>

<div style="margin-top:3em;" class="row">
  <div style="margin-top:25vh;" class="col s12 m6 l6 center">
    <h5><b>4500 VACAS HOLSTEIN DE GENÉTICA SELECCIONADA</b><h5>
  </div>
  <div class="col s12 m5 l5 center">
    <img style="-moz-box-shadow: 10px 20px 30px rgba(0,0,0,.5);-webkit-box-shadow: 10px 20px 30px rgba(0,0,0,.5);box-shadow: 10px 20px 30px rgba(0,0,0,.5);" class="responsive-img" src="{% static 'img/img_campos/establos/foto2.png' %}">
  </div>
</div>
<div class="divider"></div><div class="divider"></div>
<div style="margin-top:6em;" class="row">
  <div  style="margin-top:3em;" class="col s12 m5 l5 center container push-l1 push-m1">
    <img class="responsive-img" src="{% static 'img/img_campos/establos/foto3.png' %}">
  </div>
  <div style="margin-top:3em;" class="col s12 m4 l4 container push-l2 push-m2">
    <div class="card-panel lime darken-4 center">
      <span class="white-text">
        <h6> <b>ESTABLO CHACHANI CASAGRANDE</b></h6>
        <h6> (ASCOPE, LA LIBERTAD)</h6>
        <br>
        <p><i class="tiny material-icons">play_arrow</i>3500 VACAS HOLSTEIN</p>
        <p><i class="tiny material-icons">play_arrow</i>PROMEDIO DE PRODUCCIÓN:
          HASTA 38 KILOS DE LECHE POR VACA POR DÍA (2015)</p>
        <p><i class="tiny material-icons">play_arrow</i>RÉCORD DE PRODUCTIVIDAD
          PARA LA ZONA NORTE Y CENTRO DEL PAÍS, PARA 1500 VACAS EN ESTADO DE
          REPRODUCCIÓN</p>
      </span>
    </div>
  </div>
</div>

<div style="margin-top:3em;" class="row">
  <div class="col s12 m5 l5 center push-m1 push-l1">
    <img class="responsive-img" src="{% static 'img/img_campos/establos/foto5.png' %}">
  </div>
  <div class="col s12 m4 l4 center push-l2 push-m2">
    <img class="responsive-img" src="{% static 'img/img_campos/establos/foto4.png' %}">
  </div>
</div>
<div class="divider"></div>
<div style="margin-top:6em;" class="row">
  <div style="margin-top:3em;" class="col s12 m4 l4 container push-l1 push-m1">
    <div class="card-panel lime darken-4 center">
      <span class="white-text">
        <h6> <b>ESTABLO VITOR</b></h6>
        <h6> (LA JOYA, AREQUIPA)</h6>
        <br>
        <p><i class="tiny material-icons">play_arrow</i>600 VACAS HOLSTEIN</p>
        <p><i class="tiny material-icons">play_arrow</i>PROMEDIO DE PRODUCCIÓN:
          HASTA 42 KILOS DE LECHE POR VACA POR DÍA (2016)</p>
        <p><i class="tiny material-icons">play_arrow</i>RÉCORD DE PRODUCTIVIDAD
          PARA LA ZONA SUR DEL PAÍS, PARA 300 VACAS EN ESTADO DE
          REPRODUCCIÓN</p>
      </span>
    </div>
  </div>
  <div  style="margin-top:3em;" class="col s12 m5 l5 center container push-l2 push-m2">
    <img class="responsive-img" src="{% static 'img/img_campos/establos/foto6.png' %}">
  </div>
</div>

<div style="margin-top:3em;" class="row">
  <div class="col s12 m4 l4 container push-m1 push-l1">
    <img class="responsive-img" src="{% static 'img/img_campos/establos/foto7.png' %}">
  </div>
  <div style="margin-top:3em;" class="col s12 m5 l5 center container push-l2 push-m2">
    <img style="max-width:35vw;" class="responsive-img" src="{% static 'img/img_campos/establos/foto8.png' %}">
  </div>
</div>
<div class="divider"></div><div class="divider"></div>
<div style="margin-top:6em;" class="row container center">
  <img style="max-width:55vw;" class="responsive-img" src="{% static 'img/img_campos/establos/foto9.png' %}">
</div>

<div style="margin-top:3em;" class="row">
  <div  style="margin-top:3em;" class="col s12 m5 l5 center container push-l1 push-m1">
    <img class="responsive-img" src="{% static 'img/img_campos/establos/foto10.png' %}">
  </div>
  <div style="margin-top:3em;" class="col s12 m4 l4 container push-l2 push-m2">
    <div class="card-panel lime darken-4 center">
      <span class="white-text">
        <p> <b>ESTABLO AGROLAC</b></p>
        <p> (COÑUMBUQUE, TARAPOTO)</p>
        <p><i class="tiny material-icons">play_arrow</i>400 VACAS F1
          (GYR LECHERO Y HOLSTEIN)</p>
        <p><i class="tiny material-icons">play_arrow</i>FUNDO DE 180 HECTÁREAS
          DE PASTOS PARA LA ALIMENTACIÓN DE LAS VACAS LECHERAS, CRIANZA DE
          TILAPIAS Y CRIANZA DE GANADO DE CARNE.
        </p>
      </span>
    </div>
  </div>
</div>
{% endblock content%}
