{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div style ="margin-top:3em;" class="row valign-wrapper">
  <div class=" container col s12 m6 l6 center">
    <div style="margin-top: 6em;"class="col s8 push-s2">
      <img style ="max-height:90vh;" class="img-responsive center" src="{% static 'img/img_campos/fertilizantes/foto3.png' %}">
    </div>
  </div>
  <div style="padding:3em 7em 0 0;"class="container col s12 m6 l6 center valign">
    <div class="row">
      <h6 class="red-text"><b> EL COMPOST DE MÁS ALTA CALIDAD 100%
            GUANO DE VACA COMO MATERIA ORGÁNICA</b></h6>
    </div>
    <div class="row">
      <h6><b>KOMPUS SAC</b></h6>
      <p style="text-align:center;"><i class="tiny material-icons">
          done_all</i>MATERIA ORGÁNICA UTILIZADA 100% GUANO DE VACA
      </p>
      <p style="text-align:center;"><i class="tiny material-icons">done_all</i>
        NO POSEE PROBLEMAS DE DEGRADACIÓN DEL SILICE (PROBLEMAS COMÚN CAUSADO
        POR LAS "CAMAS" DEL GUANO DE POLLO).
      </p>
      <p style="text-align:center;"><i class="tiny material-icons">done_all</i>
        ENRIQUECIDO CON ROCA FOSFÓRICA
      </p>
      <p style="text-align:center;" ><i class="tiny material-icons">done_all</i>
        FERTILIZANTE ORGÁNICO.
      </p>
      <p style="text-align:center;" ><i class="tiny material-icons">done_all</i>
        INCORPORACIÓN DE MICROORGANISMOS EFICIENTES LOGRÁNDOSE UNA ALTA CALIDAD
        DEL COMPOST PRODUCIDO POR CHACHANI SAC.
      </p>
    </div>
  </div>
</div>

<div style ="margin-top:3em;" class="row container">
    <div class="col s12 m12 l12 center">
      <img style="max-width:20vw;" class="img-responsive" src="{% static 'img/img_campos/fertilizantes/KOMPUSVACT.png' %}">
      <div  class="col s12">
        <h5><em>... Es un producto con la calidad de ...</em></h5>
      </div>
      <div  class="row">
        <img style="max-width:8vw;" class="img-responsive" src="{% static 'img/logo2.png' %}">
      </div>
    </div>

</div>
{% endblock content%}
