{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div style="margin-top:3em;" class="row valign-wrapper">
  <div class="col s12 m6 l6 center">
    <img style="max-width: 34vw;" src="{% static 'img/img_campos/innova/foto2.png' %}">
  </div>
  <div style="margin-top:3em; font-size:small;" class="col s12 m5 l5 pull-l1 center valign">

        <p>El Grupo de Innovación de Chachani SAC ha logrado obtener múltiples
           reconocimientos en concursos de innovación. Algunos de ellos son:
        </p>
        <p><i class="material-icons tiny">star</i> Medalla de ORO, PLATA y
          BRONCE en el Concurso Nacional de Invenciones y Nuevas Tecnologías,
          otorgado por INDECOPI. (2003-2010)
        </p>
        <p><i class="material-icons tiny">star</i> Medalla de Plata en la 31°
          Feria Internacional de Invenciones de Ginebra (Suiza). Premio
          otorgado por la OMPI (Organización Mundial de la Propiedad
          Intelectual) (2004).
        </p>
        <p><i class="material-icons tiny">star</i> Ganador del Premio CONCYTEC
          a la mejor Innovación Tecnológica Empresarial. Otorgado por el
          Consejo Nacional de Ciencia e Innovación Tecnológica del Perú
          (CONCYTEC).
        </p>
        <p><i class="material-icons tiny">star</i>Ganador del financiamiento
          en los Concursos Nacionales de Publicaciones, otorgados por CONCYTEC
          (2008 y 2010).
        </p>
        <p><i class="material-icons tiny">star</i> Gestores de los productos
          ganadores del premio INNOTEC 2010 (Innovaciones aplicadas a la
          ganadería nacional).
        </p>
        <p><i class="material-icons tiny">star</i> Representantes del Perú en
          diversos eventos tecnológicos en: Portugal, España, Suiza, Santo
          Domingo, Venezuela y Colombia.
        </p>
  </div>
</div>

<div class="row valign-wrapper center">
  <div style="margin-right:0; padding-right:0;" class="col s12 m5 l5 center valign container">
    <h5>CHACHANI APLICA LA CREATIVIDAD PARA INNOVAR EN DIFERENTES ÁREAS PRODUCTIVAS</h5>
  </div>
  <div class="col s12 m6 l6 center">
    <img style="width:auto; max-height:85vh;" class="responsive-img" src="{% static 'img/img_campos/innova/foto3.png' %}">
  </div>
</div>


<div style ="margin-top:6em;" class="row valign-wrapper">
  <div class="col s12 m6 l6 center">
    <img style="width:auto; max-height:60vh;" class="responsive-img" src="{% static 'img/img_campos/innova/foto4.png' %}">
  </div>
  <div class="col s12 m6 l6 center valign">
    <h5><b>DISPENSADOR DE SERVILLETAS TRIANGULARES</b></h5>
    <br>
    <p><i class="material-icons tiny">star</i> Medalla de ORO en el 7mo Concurso
      Nacional de Invenciones, otorgado por INDECOPI (EXP0000772002).
    </p>
    <a class="waves-effect waves-light btn" href="#modal1">ver video</a>
  </div>
</div>

  <div class="divider"></div>  <div class="divider"></div>

  <div style ="margin-top:6em;" class="row valign-wrapper">
    <div class="col s12 m5 l5 center valign">
      <h5><b>CIERRA FÁCIL</b></h5>
      <br>
      <p><i class="material-icons tiny">star</i> Medalla de BRONCE en el 7mo Concurso
        Nacional de Invenciones, otorgado por INDECOPI (EXP0009292002).
      </p>
      <a class="waves-effect waves-light  disabled btn" href="#modal2">próximamente</a>
    </div>
    <div class="col s12 m5 l5 center pull-l1">
      <img style="max-height:80vh;" class="responsive-img" src="{% static 'img/img_campos/innova/foto6.png' %}">
    </div>
  </div>

  <div class="divider"></div>  <div class="divider"></div>


  <div style ="margin-top:6em;" class="row valign-wrapper">
    <div class="col s12 m5 l5 center">
        <img class="responsive-img center" src="{% static 'img/img_campos/innova/foto7.png' %}">
    </div>
    <div class="col s12 m6 l6 center valign">
      <h5><b>TACHO MULTIBOLSAS</b></h5> <h6>(INDECOPI EXP0007132002)</h6>
      <a class="waves-effect waves-light btn" href="#modal3">ver video</a>
    </div>
  </div>

  <div class="divider"></div>  <div class="divider"></div>

  <div style ="margin-top:6em;" class="row valign-wrapper">
    <div class="col s12 m5 l5 center valign">
      <h5><b>CERRADOR DE BOLSAS</b></h5>
      <br>
      <p><i class="material-icons tiny">star</i> Medalla de BRONCE en el 7mo Concurso
        Nacional de Invenciones, otorgado por INDECOPI (EXP0010672001).
      </p>
      <a class="waves-effect waves-light btn disabled" href="#modal5">próximamente</a>
    </div>
    <div class="col s12 m5 l5 center pull-l1">
      <img style="max-height:80vh;" class="responsive-img" src="{% static 'img/img_campos/innova/CIERRA_BOLSAS.png' %}">
    </div>
  </div>


  <div class="divider"></div>  <div class="divider"></div>

  <div style ="margin-top:6em;" class="row valign-wrapper">
    <div class="col s12 m5 l5 center">
        <img style="max-height:83vh;" class="responsive-img center" src="{% static 'img/img_campos/innova/LAVAVAJ.png' %}">
    </div>
    <div class="col s12 m6 l6 center valign">
      <h5><b>DISPENSADOR DE LAVAVAJILLAS</b></h5><h6> (EXP0009292002)</h6>
      <a class="waves-effect waves-light btn" href="#modal4">ver video</a>
    </div>
  </div>

  <div class="divider"></div>  <div class="divider"></div>

  <div style ="margin-top:6em;" class="row">
    <div class="row center">
      <h5><b>INNOVACIONES PARA LA GANADERÍA</b></h5>
    </div>
      <div style ="margin-top:5em;" class="row center">
        <img class="responsive-img" src="{% static 'img/img_campos/innova/FOTO9.png' %}">
      </div>
  </div>
  <div class="divider"></div>  <div class="divider"></div>

<div style="margin-top:6em;" class="row valign-wrapper">
  <div class="col s6 center">
      <div class="row center">
        <img style="max-width:15vw;" class="responsive-img" src="{% static 'img/img_campos/innova/foto16.png' %}">
      </div>
      <div class="row center">
        <h5><b>TAPA CONTENEDORA</b></h5>
        <p><i class="material-icons tiny">star</i> Proyecto ganador de financiamiento
          INNOVATE PERÚ.
        </p>
        <p><i class="material-icons tiny">star</i> Auspiciado por el GRUPO GLORIA.
        </p>
        <p><i class="material-icons tiny">star</i> Ejecutado por el equipo de
          desarrollo de nuevas tecnologías Chachani SAC.
        </p>
        <a class="waves-effect waves-light  disabled btn" href="#modal6">próximamente</a>
      </div>
  </div>
  <div class="col s6 center valign">
    <img class="responsive-img" src="{% static 'img/img_campos/innova/foto17.png' %}">
  </div>
</div>
<div class="divider"></div>  <div class="divider"></div>

<div style="margin-top:6em;" class="row valign-wrapper">
  <div class="col s5 center push-l1 ">
    <img style="max-height:100vh;" class="responsive-img" src="{% static 'img/img_campos/innova/foto18.png' %}">
  </div>
  <div class="col s7 center">
    <div class="row center">
        <img style="max-width:30vw;" class="responsive-img" src="{% static 'img/img_campos/innova/foto19.png' %}">
    </div>
    <div class="row center valign">
      <h5><b>PROTECTOR DE INYECTABLES</b></h5>
      <p><i class="material-icons tiny">star</i> Proyecto ganador de financiamiento
        INNOVATE PERÚ.
      </p>
      <p><i class="material-icons tiny">star</i> Auspiciado por el GRUPO GLORIA.
      </p>
      <p><i class="material-icons tiny">star</i> Ejecutado por el equipo de
        desarrollo de nuevas tecnologías Chachani SAC.
      </p>
      <a class="waves-effect waves-light disabled btn" href="#modal7">próximamente</a>
    </div>
  </div>
</div>

<!-- MODALS -->
<div id="modal1" class="modal modal-fixed-footer">
   <div class="modal-content">
     <div class="video-container center">
    <iframe width="560" height="300" src="https://www.youtube.com/embed/glbqkGwfk5Y" frameborder="0" allowfullscreen></iframe>
   </div>
 </div>
   <div class="modal-footer">
     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">cerrar</a>
   </div>
 </div>

 <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="video-container center">
     <iframe width="560" height="300" src="https://www.youtube.com/embed/5sXPTRE9lG8" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">cerrar</a>
    </div>
  </div>


  <div id="modal3" class="modal modal-fixed-footer">
     <div class="modal-content">
       <div class="video-container center">
      <iframe width="560" height="300" src="https://www.youtube.com/embed/esRsSuSEmZM" frameborder="0" allowfullscreen></iframe>
     </div>
   </div>
     <div class="modal-footer">
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">cerrar</a>
     </div>
   </div>

   <div id="modal4" class="modal modal-fixed-footer">
      <div class="modal-content">
        <div class="video-container center">
          <iframe width="560" height="300" src="https://www.youtube.com/embed/UV1LOEA_p4E" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">cerrar</a>
      </div>
    </div>

    <div id="modal5" class="modal modal-fixed-footer">
       <div class="modal-content">
         <div class="video-container center">
        <iframe width="560" height="300" src="https://www.youtube.com/embed/UV1LOEA_p4E" frameborder="0" allowfullscreen></iframe>
       </div>
     </div>
       <div class="modal-footer">
         <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">cerrar</a>
       </div>
     </div>
     <div id="modal6" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="video-container center">
         <iframe width="560" height="300" src="https://www.youtube.com/embed/5sXPTRE9lG8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">cerrar</a>
        </div>
      </div>
      <div id="modal7" class="modal modal-fixed-footer">
         <div class="modal-content">
           <div class="video-container center">
          <iframe width="560" height="300" src="https://www.youtube.com/embed/5sXPTRE9lG8" frameborder="0" allowfullscreen></iframe>
         </div>
       </div>
         <div class="modal-footer">
           <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">cerrar</a>
         </div>
       </div>

{% endblock content%}
