{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div style="margin-top:3em;"class="row">
	<p class="center red-text"><b>NOTA:</b> puedes hacer click en las diferentes caras de los libros</p>
</div>
<div class="row">
	<div class="col s12 m12 l6">
		<div style="overflow:visible;" class="carousel">
	      <a class="carousel-item" href="#one!"><img class="responsive-img" src="{% static 'img/img_campos/libros/la_alimentacion.jpg' %}"></a>
	      <a class="carousel-item" href="#two!"><img class="responsive-img" src="{% static 'img/img_campos/libros/la_alimentacion_atras.jpg' %}"></a>
	    </div>
	</div>
	<div class="col s12 m12 l6" style="padding-top: 100px">
		<div class="row center">
	      <img style="max-height:10vh;" src="{% static 'img/logo_hoja.png' %}">
	    </div>
	    <div class="row center ">
	      <p><b>AUTORES:</b></p>
	      <p>Dr. Alfredo delgado, Ing. César Muroya y Dr. William Olivos</h5>
	      <p>2014</p>
	      <p>Edición: 2000 ejemplares</p>
	    </div>
	</div>
</div>
<div style="margin-top: 50px" class="divider"></div>
<div class="row">
	<div class="col s12 m12 l6"  style="padding-top: 100px">
		<div class="row center">
	      <img style="max-height:10vh;" src="{% static 'img/logo_hoja.png' %}">
	    </div>
	    <div class="row center ">
	      <p><b>AUTOR:</b></p>
	      <p>Ing. César Muroya Umesaki</p>
	      <p>2011</p>
	      <p>Libro ganador de financiamiento en el concurso nacional de
	        publicaciones CONCYTEC.</p>
	      <p>Edición: CONCYTEC. <br>1000 ejemplares</p>
	    </div>
	</div>
	<div class="col s12 m12 l6">
		<div style="overflow:visible;" class="carousel">
	      <a class="carousel-item" href="#one!"><img class="responsive-img" src="{% static 'img/img_campos/libros/los_manejos.jpg' %}"></a>
	      <a class="carousel-item" href="#two!"><img class="responsive-img" src="{% static 'img/img_campos/libros/los_manejos_atras.jpg' %}"></a>
	    </div>

	</div>
</div>
<div style="margin-top: 50px" class="divider"></div>
<div class="row">
	<div class="col s12 m12 l6">
		<div class="carousel">
	      <a class="carousel-item" href="#one!"><img class="responsive-img" src="{% static 'img/img_campos/libros/como_hacer_rentable.jpg' %}"></a>
	      <a class="carousel-item" href="#two!"><img class="responsive-img" src="{% static 'img/img_campos/libros/como_hacer_rentable_atras.jpg' %}"></a>
	    </div>
	</div>
	<div class="col s12 m12 l6" style="padding-top: 100px">
		<div class="row center">
	      <img style="max-height:10vh;" src="{% static 'img/logo_hoja.png' %}">
	    </div>
	    <div class="row center ">
	      <p><b>AUTOR:</b></p>
	      <p>Ing. César Muroya</p>
	      <p>2004</p><br>
	      <p>Libro ganador de premio CONCYTEC, otorgado a la mejor innovación
	        tecnológica.</p>
	      <p>Edición: GLORIA SA. 10 000 ejemplares</p>
	      <p>Edición: GLORIA UAP. 1000 ejemplares</p>
	    </div>
	</div>
</div>
<div style="margin-top: 50px" class="divider"></div>
<div class="row">
	<div class="col s12 m12 l6"  style="padding-top: 100px">
		<div class="row center">
	      <img style="max-height:10vh;" src="{% static 'img/logo_hoja.png' %}">
	    </div>
	    <div class="row center ">
	      <p><b>AUTOR:</b></p>
	      <p>Ing. César Muroya Umesaki</p>
	      <p>2006</p>
	      <p>Edición: CONCYTEC. <br>8000 ejemplares</p>
	    </div>
	</div>
	<div class="col s12 m12 l6">
		<div style="overflow:visible;" class="carousel">
	      <a class="carousel-item" href="#one!"><img class="responsive-img" src="{% static 'img/img_campos/libros/las_sombras.jpg' %}"></a>
	      <a class="carousel-item" href="#two!"><img class="responsive-img" src="{% static 'img/img_campos/libros/las_sombras_atras.jpg' %}"></a>
	    </div>

	</div>
</div>
<div style="margin-top: 50px" class="divider"></div>
<div class="row">
	<div class="col s12 m12 l6">
		<div class="carousel">
	      <a class="carousel-item" href="#one!"><img class="responsive-img" src="{% static 'img/img_campos/libros/establos_lecheros.jpg' %}"></a>
	      <a class="carousel-item" href="#two!"><img class="responsive-img" src="{% static 'img/img_campos/libros/establos_lecheros_atras.jpg' %}"></a>
	    </div>
	</div>
	<div class="col s12 m12 l6" style="padding-top: 100px">
		<div class="row center">
	      <img style="max-height:10vh;" src="{% static 'img/logo_hoja.png' %}">
	    </div>
	    <div class="row center ">
	      <p><b>AUTOR:</b></p>
	      <p>Ing. César Muroya</p>
	      <p>2008</p>
	      <p>Edición: GLORIA SA. <br>8000 ejemplares</p>
	    </div>
	</div>
</div>


{% endblock content%}
