{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div style="margin-top:3em;margin-bottom:0;" class="row">
  <div style="margin-top:3em;" class="col s12 m6 l6 push-l1 push-m1 push-s1">
    <div style="overflow:visible;"class="carousel libro">
      <a class="carousel-item" href="#one!"><img style="max-width:15vw; height:auto;" src="{% static 'img/img_campos/libros/la_alimentacion.jpg' %}"></a>
      <a class="carousel-item" href="#two!"><img style="max-width:15vw; height:auto;" src="{% static 'img/img_campos/libros/la_alimentacion.jpg' %}"></a>
    </div>
  </div>
  <div class="container col s12 m6 l6">
    <div class="row center">
      <img src="{% static 'img/logo_hoja.png' %}">
    </div>
    <div class="row center">
      <h5><b>AUTORES:</b></h5>
      <h5>Dr. Alfredo delgado, Ing. César Muroya y Dr. William Olivos</h5>
      <h5>2014</h5><br>
      <h5>Edición: 2000 ejemplares</h5>
    </div>
  </div>
</div>
  <div class="divider"></div>  <div class="divider"></div>
<div style="margin-top:6em;" class="row ">
  <div class="container col s12 m6 l6 center push-l1">
    <div class="row center">
      <img src="{% static 'img/logo_hoja.png' %}">
    </div>
    <div class="row  center ">
      <h5><b>AUTOR:</b></h5>
      <h5>Ing. César Muroya Umesaki</h5>
      <h5>2011</h5>
      <h5>Libro ganador de financiamiento en el concurso nacional de
        publicaciones CONCYTEC.</h5><br>
      <h5>Edición: CONCYTEC. <br>1000 ejemplares</h5>
    </div>
  </div>
  <div style="margin-top:6em;" class="col s12 m6 l6 push-l2 push-m1 push-s1">
    <div style="overflow:visible;"class="carousel libro">
      <a class="carousel-item" href="#one!"><img style="max-width:15vw; height:auto;" src="{% static 'img/img_campos/libros/los_manejos.jpg' %}"></a>
      <a class="carousel-item" href="#two!"><img style="max-width:15vw; height:auto;" src="{% static 'img/img_campos/libros/los_manejos.jpg' %}"></a>
    </div>
  </div>
</div>
  <div class="divider"></div>  <div class="divider"></div>
<div style="margin-top:6em;" class="row">
  <div style="margin-top:8em;" class="col s12 m6 l6 push-l1 push-m1 push-s1">
    <div style="overflow:visible;"class="carousel libro">
      <a class="carousel-item" href="#one!"><img style="max-width:15vw; height:auto;" src="{% static 'img/img_campos/libros/como_hacer_rentable.jpg' %}"></a>
      <a class="carousel-item" href="#two!"><img style="max-width:15vw; height:auto;" src="{% static 'img/img_campos/libros/como_hacer_rentable.jpg' %}"></a>
    </div>
  </div>
  <div class="container col s12 m6 l6">
    <div class="row center">
      <img src="{% static 'img/logo_hoja.png' %}">
    </div>
    <div class="row center">
      <h5><b>AUTOR:</b></h5>
      <h5>Ing. César Muroya</h5>
      <h5>2004</h5><br>
      <h5>Libro ganador de premio CONCYTEC, otorgado a la mejor innovación
        tecnológica.</h5><br>
      <h5>Edición: GLORIA SA. 10 000 ejemplares</h5>
      <h5>Edición: GLORIA UAP. 1000 ejemplares</h5>
    </div>
  </div>
</div>
  <div class="divider"></div>  <div class="divider"></div>
<div style="margin-top:6em;" class="row ">
  <div class="container col s12 m6 l6 center ">
    <div class="row center">
      <img src="{% static 'img/logo_hoja.png' %}">
    </div>
    <div class="row  center ">
      <h5><b>AUTOR:</b></h5>
      <h5>Ing. César Muroya Umesaki</h5>
      <h5>2006</h5><br>

      <h5>Edición: CONCYTEC. <br>8000 ejemplares</h5>
    </div>
  </div>
  <div style="margin-top:6em;" class="col s12 m6 l6 push-l1 push-m1 push-s1">
    <div style="overflow:visible;"class="carousel libro">
      <a class="carousel-item" href="#one!"><img style="max-width:15vw; height:auto;" src="{% static 'img/img_campos/libros/las_sombras.jpg' %}"></a>
      <a class="carousel-item" href="#two!"><img style="max-width:15vw; height:auto;" src="{% static 'img/img_campos/libros/las_sombras.jpg' %}"></a>
    </div>
  </div>
</div>
  <div class="divider"></div>  <div class="divider"></div>
<div style="margin-top:6em;" class="row">
  <div style="margin-top:3em;" class="col s12 m6 l6 push-l1 push-m1 push-s1">
    <div style="overflow:visible;"class="carousel libro">
      <a style="height:inherit;"  class="carousel-item" href="#one!"><img style="max-width:15vw; height:auto;" src="{% static 'img/img_campos/libros/establos_lecheros.jpg' %}"></a>
      <a style="height:inherit;"  class="carousel-item" href="#two!"><img style="max-width:15vw; height:auto;" src="{% static 'img/img_campos/libros/establos_lecheros.jpg' %}"></a>
    </div>
  </div>
  <div class="container col s12 m6 l6">
    <div class="row center">
      <img src="{% static 'img/logo_hoja.png' %}">
    </div>
    <div class="row center">
      <h5><b>AUTOR:</b></h5>
      <h5>Ing. César Muroya</h5>
      <h5>2008</h5><br>
      <h5>Edición: GLORIA SA. <br>8000 ejemplares</h5>
    </div>
  </div>
</div>


{% endblock content%}
