{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


  <div class="row"style="margin-top:3em;">
    <div class="col s12 m4 l4 push-l1">
        <img class="responsive-img" src="{% static 'img/img_campos/premezcla2.png' %}">
    </div>
      <div style="margin-top:3em;" class="col s12 m5 l5 push-l2 ">
        <div class="card  light-green darken-2">
          <div class="card-content white-text">
            <p style="text-align:center;">Las vacas lecheras de los establos de
                Chachani, batieron records de productividad. En el establo Vitor
                de Arequipa, sus vacas alcanzaron productividades superiores a
                los 42 klos por día por vaca. En Trujillo, las vacas alcanzaron
                promedios de 38 kilos por día por vaca, ara sus 1500 vacas en
                estado de producción.
            </p><br>
            <p style="text-align:center;">Uno de los factores que sin duda
                influyeron en este incremento de la productividad de sus vacas,
                es el haber desarrollado y aplicado unas premezclas propias,
                otorgándoles a nuestras vacas las cantidades necesarias de
                vitaminas y microminerales.
            </p><br>
            <p style="text-align:center;">Ahora, Chachani, líderes en productividad, comparte con los
                ganaderos la premezcla que utliza en sus establos: <b><em>PREMEZCLAS VITA PLUS</em></b>
                para que usted mismo se las pueda otorgar a su ganado.
            </p><br>
            <p style="text-align:center;"><em><b>VITA PLUS</b></em> es
                producida bajo la fórmula y supervisión de CHACHANI SAC.
            </p>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="row">
  <div class="col s12 center" style="margin-bottom:3em;">
    <img class="responsive-img" src="{% static 'img/img_campos/premezcla1.png' %}">
  </div>
</div>
{% endblock content%}
