{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div style="margin-top:3em;" class="row valign-wrapper">
  <div class="col s12 m4 l4 pull-l1 pull-m1 valign">
      <img style="box-shadow: 10px 10px 10px #888888;" class="responsive-img" class="" src="{% static 'img/img_campos/revista1.png' %}">
  </div>
  <div style="margin-top:15vh;" class="col s12 m8 l5 pull-l1  ">
    <div class="card blue darken-4">
      <div class="card-content white-text">
          <p style="text-align:center;">El boletín KONTACTO CHACHANI es desarrollado y editado en su totalidad
            por el equipo profesional de la empresa CHACHANI SAC.
          </p><br>
          <p style="text-align:center;">Edición I - Enero del 2017 - 12,000 ejemplares
          </p><br>
          <p style="text-align:center;"><i class="tiny material-icons">done_all</i>Transmite las nuevas técnicas
              y productos que se utlizan en los establos de Chachani.</p>
          <p style="text-align:center;"><i class="tiny material-icons">done_all</i>Busca ayudar a
                los ganaderos a lograr la eficiencia que requieren los establos.
          </p>
          <p style="text-align:center;"><i class="tiny material-icons">done_all</i>Busca ser una vía de
              comunicación y de cooperación entre nuestra empresa y
              los ganaderos proveedores de la leche del <b>GRUPO GLORIA</b>.
          </p>
          <p style="text-align:center; margin-bottom:1em;" ><i class="tiny material-icons">done_all</i>Promueve la aplicación
              de la innovación, investigación y eficiencia en las empresas.
          </p>
          <div class="card-action">
            <a class="right" target="_blank" href="{% url 'revista' %}">ver revista</a>
          </div>
        </div>

      </div>
  </div>
</div>

{% endblock content%}
